body{
  background-color: skyblue;
}

.hint1{
  color: red;
}

.next-button-1-div{
  display: grid;
  justify-content: center;
}

.next-button{
  background-color: transparent;
  color: skyblue;
  border: none;
}